.radio-list input[type="radio"] {
    zoom: 1.75;
    accent-color: yellow;
    margin-right: 5px;
    background: transparent;
}

.radio-list label {
    display: flex;
    font-size: 17px;
    font-weight: 500;
}

.radio-list li {
    padding: 8px;
    font-size: 12px;
}

.radio-list li:first-of-type {
    border-bottom: 1px solid gray;
    padding-top: 16px;
    letter-spacing: 1.75px;
}

.radio-list li:nth-of-type(2), .radio-list li:nth-of-type(3) {
    border-bottom: 1px solid gray;
}

.radio-list li:nth-of-type(3) {
    letter-spacing: 1.75px;
}

.search-header-group {
    max-width: 680px;
    height: 32px;
}

.imdb-header {
    background-color: #121212;
    padding: 11.5px;
    padding-bottom: 11px;
}

@media screen and (max-width: 1200px) {
    .search-header-group {
        max-width: 500px;
        height: 32px;
    }

    .imdb-header {
        gap: 20px;
        padding: 3.75px 16px;
    }
}